body {
    background: rgb(51, 48, 48); /* Cor do fundo da pagina */
    font:normal 15pt Arial; /* tamanho padrão da fonte */
}

header {
    color: white;  /* Cor do titulo */
    text-align: center; /* centralizar titulo */
}

section {
    background: white; /* Cor do quadro no meio da tela */
    border-radius: 10px; /* Ajuste da borda do quadro do meio da pagina */
    padding: 10px; /* altura do quadro */ 
    width: 500px; /* largura do quadro */
    margin: auto; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.541);  /* ajuste da sombra e da cor da sombra do quadro */
}

footer {
    color: white;  /* assinatura na parte inferior do quadro */
    text-align: center;
    font-style: italic;
}